html,
body {
  height: 100%;
}
.father {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  flex-direction: row-reverse;
  flex-wrap: no-wrap-reverse;
}
.box {
  background-color: skyblue;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
